<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{ htmlWebpackPlugin.options.seo.title }}</title>
  <meta name="description" content="{{ htmlWebpackPlugin.options.seo.description }}">

  <meta property="og:title" content="{{ htmlWebpackPlugin.options.seo.title }}">
  <meta property="og:description" content="{{ htmlWebpackPlugin.options.seo.description }}">
  <meta property="og:keywords" content="{{ htmlWebpackPlugin.options.seo.keywords }}">
</head>
<body>
  <div id="app"></div>
</body>
</html>